@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.pDarkBlue {
  background: #070724;
}

.pDarkGray {
  background: #38384f;
}

.pGray {
  background: #838391;
}
.pAqua {
  background: #419ebb;
}

.pLightOrange {
  background: #eda249;
}

.pPurple {
  background: #6f2ed6;
}

.pOrange {
  background: #d14c32;
}

.pRed {
  background: #d83a34;
}

.pBurntOrange {
  background: #cd5120;
}

.pMint {
  background: #1ec2a4;
}

.pBlue {
  background: #2d68f0;
}
